beautifulsoup4==4.4.1
dj-database-url==0.4.1
Django==1.9.6
gunicorn==19.5.0
lxml==3.6.0
model-mommy==1.2.6
psycopg2==2.6.1
redis==2.10.5
requests==2.10.0
six==1.10.0
spotipy==2.3.8
whitenoise==3.1

# celery related packages
celery==3.1.23
django-celery==3.1.17
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
kombu==3.0.35
pytz==2016.4
