<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Public Radio Music Interlude Database</title>

        <!-- Google Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">-->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-full navbar-dark" style="background-color: #171717;">
            <a class="navbar-brand" href="{% url 'home' %}">Public Radio Interlude Database</a>
            <ul class="nav navbar-nav pull-sm-right pull-md-right">
                <li class="nav-item active">
                    <a class="nav-link" style="padding-bottom: 0rem;" href="{% url 'home' %}"><i class="material-icons">home</i><span class="sr-only">(current)</span></a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Recent</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'song_list_top_25' %}">Charts</a>#}
{#                </li>#}
            </ul>
{#            <form class="form-inline pull-xs-right">#}
{#                <input class="form-control" type="text" placeholder="Search">#}
{#                <button class="btn btn-success-outline" type="submit">Search</button>#}
{#            </form>#}
        </nav>

        {% block content %}
        {% endblock %}

        <br>
        <footer class="footer" style="background-color: #171717;">
            <a href="https://github.com/nesnahnoj/npr-musical-interludes" target="_blank">
                <img src="{% static 'images/GitHub-Mark-Light-32px.png' %}" height="20"/> View source on GitHub
            </a>
        </footer>


        <!-- jQuery first, then Bootstrap JS. -->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>-->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'audio_player.js' %}"></script>
    </body>
</html>