{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <div class="starter-template">
            <p class="lead text-center">Hello World!</p>
            <a href="{% url 'song_list_top_25' %}">Top Songs</a>

            {% for program in program_list %}
                <p>{{ program.name }}</p>
                <a href="{% url 'episode_detail' program_slug=program.slug episode_date=program.date_latest_episode %}">See latest episode</a>
            {% endfor %}

        </div>

    </div><!-- /.container -->


{% endblock %}
