{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="starter-template">
                    <h4>Programs</h4>


                </div>

                <ul class="list-group">
                    {% for program in program_list %}
                        <a href="{% url 'episode_detail' program_slug=program.slug episode_date=program.date_latest_episode %}" class="list-group-item">
                            {{ program.name }}
                        </a>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-4">
                <h4>Top Artists</h4>
                <div class="list-group">
                    {% for artist in top_artists %}
                        <a href="{% url 'artist_detail' slug=artist.slug %}" class="list-group-item">
                            {{ forloop.counter }}.  {{ artist.name }} | <em>{{ artist.num_songs }} songs, {{ artist.num_interludes }} plays</em>
                        </a>
                    {% endfor %}
                    <a href="{% url 'artist_list_top_25' %}">View more</a>
                </div>
            </div>

            <div class="col-sm-4">
                <h4>Top Songs</h4>
                <ul class="list-group">
                    {% for song in top_songs %}
                        <li class="list-group-item">
                            <span class="label label-default label-pill pull-xs-right">{{ song.num_interludes }}</span>
                            {{ forloop.counter }}.  {{ song.name }} | <em>{{ song.artist.name }}</em>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'song_list_top_25' %}">View more</a>
            </div>
        </div>

    </div><!-- /.container -->



{% endblock %}
