
body {
    background: #eeeeee !important;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.25;
}

.header-link {
    color: black;
}

.header-link:hover {
    color: lightslategray;
    text-decoration: none;
}



.list-block {
    background-color: #1f7e9a;
    color: white;
    float: left;
    margin: 0;
    padding: 1rem;
}


.artist-thumbnail {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.artist-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.artist-thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.artist-detail {
    margin-left: 70px;
    padding-top: 10px;
}

.artist-data {
    clear: right;
    padding-top: 1em;
    line-height: .5;
    text-align: right;
}

.program-data {
    padding-top: .5em;
    line-height: .25;
}

.song-preview {
    position: relative;
    float: left;
    width: 40px;
}

.song-detail {
    margin-left: 50px;
}

.play {
    cursor: pointer;
}


/* sizing for Google material icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
