
body {
    background: #eeeeee !important;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.25;
}

.list-block {
    background-color: #1f7e9a;
    color: white;
    float: left;
    margin: 0;
    padding: 1rem;
}
