
body {
    background: #eeeeee !important;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.25;
}

.list-block {
    background-color: #1f7e9a;
    color: white;
    float: left;
    margin: 0;
    padding: 1rem;
}


.artist-thumbnail {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.artist-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.artist-thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.artist-detail {
    margin-left: 70px;
    padding-top: 10px;
}

audio {
    background-color: white;
}
