{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <div class="starter-template">
            <br>
            <h1 class="text-center">Top 25 Artists</h1>
            <p class="lead text-center">The artists used most frequently by NPR programs over the past 10 years.</p>
        </div>

        <ul class="list-group">
            {% for artist in object_list %}
                <li class="list-group-item">
{#                    <span class="label label-default label-pill pull-xs-right">{{ song.num_interludes }}</span>#}
                    {{ forloop.counter }}.  <strong>{{ artist.name }}</strong> | <em>{{ artist.num_songs }} songs, {{ artist.num_interludes }} plays</em>
                </li>
            {% endfor %}
        </ul>

        <br>
        <br>

    </div><!-- /.container -->


{% endblock %}