{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-lg-right text-md-right">
                <br>
                <h2>
                    <a href="{% url 'program_detail' object.program.slug %}" class="header-link">{{ object.program.name }}</a>
                </h2>

                <h6>{{ object.date }}</h6>
                {% if prev_episode %}
                    <a href="{% url 'episode_detail' program_slug=prev_episode.program.slug episode_date=prev_episode.date %}">Previous</a>
                {% endif %}
                {% if next_episode %}
                    | <a href="{% url 'episode_detail' program_slug=next_episode.program.slug episode_date=next_episode.date %}">Next</a>
                {% endif %}
            </div>


            <div class="col-sm-7">
                <br>
                <ul class="list-group">
                    {% for interlude in interlude_list %}
                        <li class="list-group-item">
                            {% if interlude.song.preview %}
                                <div class="song-preview" style="margin-top: -.5rem;">
                                    <i class="material-icons play md-36">play_circle_outline</i>
                                    <audio src="{{ interlude.song.preview }}" type="audio/mpeg">
                                        <source src="{{ interlude.song.preview }}" type="audio/mpeg">
                                    </audio>
                                </div>
                            {% endif %}
                            <div class="song-detail">
                                {{ forloop.counter }}.  <strong>{{ interlude.song.name }}</strong> | <em>{{ interlude.song.artist.name }}</em>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <br>
        <br>

    </div><!-- /.container -->


{% endblock %}