{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">
            <br>
            <h2>{{ object.name }}</h2>
            <div class="program-data">
                <p>{{ object.num_episodes }} episodes, {{ object.num_interludes }} interludes.</p>
                <p>Data from {{ object.date_earliest_episode }} to {{ object.date_latest_episode }}.</p>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col-sm-4">

                <h5>Recent episodes</h5>
                <ul class="list-group">
                    {% for episode in recent_episodes %}
                        <a href="{% url 'episode_detail' program_slug=episode.program.slug episode_date=episode.date %}" class="list-group-item">
                            <strong>{{ episode.date|date:"l" }}</strong> | {{ episode.date|date:"F j, Y" }}
                        </a>
                    {% endfor %}
                </ul>
            </div>


            <div class="col-sm-4">
                <h5>Top Artists</h5>
                <div class="list-group">
                    {% for artist in top_artists %}
                        <a href="{% url 'artist_detail' slug=artist.slug %}" class="list-group-item" style="height: 64px; padding: 2px;">
                            <div class="artist-thumbnail">
                                {% if artist.thumbnail %}
                                    <img src="{{ artist.thumbnail }}" class="portrait" alt="Image" />
                                {% endif %}
                            </div>
                            <div class="artist-detail">
                                <strong>{{ artist.name }}</strong>
                                <br>
                                <em>{{ artist.num_interludes }} plays, {{ artist.num_songs }} songs</em>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-4">
                <h5>Top Songs</h5>
                <ul class="list-group">
                    {% for song in top_songs %}
                        <li class="list-group-item">
                            {% if song.preview %}
                                <div class="song-preview">
                                    <i class="material-icons play md-36">play_circle_outline</i>
                                    <audio src="{{ song.preview }}" type="audio/mpeg">
                                        <source src="{{ song.preview }}" type="audio/mpeg">
                                    </audio>
                                </div>
                            {% endif %}

                            <div class="song-detail">
                                <strong>{{ song.name }}</strong>
                                <br>
                                <em>{{ song.artist.name }}</em>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <br>
        <br>

    </div><!-- /.container -->


{% endblock %}